.card-group{
    width: 900px;
    margin: auto;
    margin-top: 40px;
    /* padding: 1rem; */
    /* margin-right: 1rem; */
    background: transparent;
    text-align: center;
    font-family: sans-serif;
    border-radius: 30px;
}
.img-bucket{
    height: 45%;
    width: 85%;
    padding-left: 20px;
    margin-left: 24px;
    margin-top: 10px;
}
.img-cloud{
    height: 42%;
    width: 78%;
    padding-left: 60px;
    margin-left: 20px; 
    margin-top: 27px; 
}
.creatCard{
    margin-right: 30px;
    align-content: center;
    border-radius: 30px;
}
.uploadCard{
    margin-right: 30px;
    align-content: center;
    border-radius: 30px;
}
.cardBody{
    text-align: center;
    font-size: 14px;
    border-color: #AFE1AF;
    border-width: 2px;
    border-style:solid;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 380px;
    height: 130px;
}
.button-create{
    width: 220px;
    background-color: #2eaa2e;
    border-color: #2eaa2e;
    
}
.text-create{
    padding: 10px;
    font-size: 13px;
}